################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/TestOne/bin
/TestOne/obj
/WebJobBasicOne/bin
/WebJobBasicOne/obj
